@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* ✅ Custom Black Theme */
/* 🌲 Custom Dark Forest Theme */
@plugin "daisyui/theme" {
  name: "blacktheme";
  color-scheme: dark;
  prefersdark: true;

  /* 🌑 Dark forest base */
  --color-base-100: ;  /* body bg*/
  --color-base-200: #06040A;   /*  */
  --color-base-300: #1c2a23;   
  --color-base-content: #000000; 

  --color-primary: #00000;   /*all body text*/
  --color-primary-content: #ffffff;

  --color-secondary: #004030;  /* navbar , footer , tranding tips*/
  --color-secondary-content: #e6f4ea;

  --color-textColor:#1A4D2E;

  --color-accent: #000000; /*all navbar and footer text*/     
  --color-accent-content: #ffffff;

  --color-neutral: #F2F1F0; /*white*/   
  --color-neutral-content: #F0F1C5;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}


/* ✅ Custom Light Theme */
@plugin "daisyui/theme" {
  name: "lighttheme";
  color-scheme: light;
  prefersdark: false;

  --color-base-100: #ffffff;
  --color-base-200: #f7f7f7;
  --color-base-300: #e5e5e5;
  --color-base-content: #1a1a1a;

  --color-primary: oklch(62.7% 0.194 149.214);
  --color-primary-content: #ffffff;

  --color-secondary: #E8FFD7;
  --color-secondary-content: #ECFAE5; /*tables*/

  --color-accent: #06040A;
  --color-accent-content: #000000;

  --color-neutral: #f0f0f0;
  --color-neutral-content: #F0F1C5;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

/* ✅ Enable Both Themes */
@plugin "daisyui" {
  themes: lighttheme blacktheme;
}


* {
  font-family: "Nunito Sans", sans-serif;
}

.link-font {
  margin-right: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.active {
  background-color: #A3DC9A;
  border-radius: 15px;
  color: black;
}


