@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@import "tailwindcss";




@plugin "daisyui"{
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "#E8FFD7";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;

}

*{
  font-family: "Poppins", sans-serif;
}


.link-font {
  margin-right: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}



.active {
  background-color: #1A4D2E;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  color: white;
}


body {
  background-color: rgba(235, 233, 233, 0.444);
}